* {
    margin: 0;
    padding: 0px;
    font-size: 20px;
}


.top-nav-bar {
    background-color: #e0dfdf;
    overflow: hidden;
    font-style: "sans-serif";
}

.top-nav-bar a {
    float: right;
    color: rgb(69, 68, 68);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    margin-right: 5%;
}

.top-nav-bar a:hover {
    background-color: #434343;
    color: white;
}

.icon-border {
    color: #f1efef;
    position: absolute;
    margin-left: 2%;
    margin-top: 4px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    width: 40px;
    height: 40px;
    border: 2px solid #494343;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(70, 68, 68);
}

.name-logo {
    position: absolute;
    margin-left: 6%;
    margin-top: 15px;
    font-family: "Roboto", sans-serif;
    color: rgb(69, 68, 68);

}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

.about-me-container-header {
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

.header-border {
    width: 83%;
    background-color: grey;
    padding: 5px;
    border-radius: 10px;
}

.header h1 {
    font-family: "Roboto", sans-serif;
    color: white;
    text-align: center;
}

.header-information-container {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.header-information-border {
    color: white;
    width: 50%;
    background-color: grey;
    border-radius: 20px;
    font-family: "Roboto", sans-serif;
    padding: 5px;
    text-align: center;
}

.my-about-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3% 5%;
    gap: 20px;
}

.unlisted-container-border, .ordered-container-border, 
.testimonial-container-border {
    background-color: grey;
    padding: 20px;
    color: white;
    font-family: "Roboto", sans-serif;
    border-radius: 10px;
}

.unlisted-container-border, .ordered-container-border {
    min-width: 150px;
    flex: 1 1 calc(25% - 20px);
}

.testimonial-container-border {
    font-size: 10px;
    flex: 1 1 calc(40% - 20px);
}

.testimonial-container-border h4 {
    font-weight: bold;
    font-size: larger;
}

.unlisted-list, .ordered-list {
    text-align: center;
}

.unlisted-list ul, .ordered-list ol {
    display: inline-block;
    text-align: left;
    font-size: 10px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 100px;
}

.gallery-picture-container {
    display: flex;
    justify-content: center;
    margin: 5% 5%;
}

.gallery-picture-border {
    width: 100%;
    background-color: grey;
    border-radius: 10px;
    padding: 20px;
    color: white;
}

.gallery-picture-border h4 {
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.my-pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.my-pictures img {
    width: 110px;
    height: 110px;
    object-fit: cover;
}