* {
    margin: 0;
    padding: 0px;
}

body {
    background-color: rgb(29, 23, 23);
}

.navigation-border {
    border: solid 0px black;
    margin-top: 2%;
    position: relative;
}

.navigation-container {
    text-align: center;
}

.navigation-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 20px;
    margin-right: 40px;
}

a:hover {
    text-decoration: underline;
    background: linear-gradient(90deg, #fff 20%, #4b4b49 40%, #fff 60%);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    animation: shine 4s linear infinite;

}

.smoke-container {
    margin-top: 0;
}
#gray_mist {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 92.5vh;
    position: absolute;
    opacity: 30%;
}

.circle-border {
    position: absolute;
    margin-top: 12%;
    width: 300px;
    height: 300px;
    border: 0px solid;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 18%;
    box-shadow: 0 0 40px 15px rgb(27, 26, 26), 0 0 80px 30px rgb(44, 43, 43);
}

.circle-border img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.label-container {
    padding: 20px;
    position: absolute;
    border: solid 0px black;
    height: 300px;
    margin-left: 41%;
    margin-top: 10%;
    box-shadow: 0 0 40px 15px rgb(27, 26, 26), 0 0 80px 30px rgb(44, 43, 43);
    width: 50%;
}

.name-label {
    color: white;
    font-family: "Sora", sans-serif;
    font-weight: 500;
    font-size: 30px;
    position: relative;
    background: linear-gradient(90deg, #fff 20%, #4b4b49 40%, #fff 60%);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    animation: shine 4s linear infinite;
}

@keyframes shine {
    to {
        background-position: 200% center;
    }
}

.title-label {
    margin-top: 5px;
    color: white;
    font-family: "Sora", sans-serif;
    font-weight: 200;
    font-size: 20px;
}

.testimonial-label {
    margin-top: 10px;
    color: white;
    font-family: "Sora", sans-serif;
    font-weight: 100;
    font-size: 15px
}