* {
    margin: 0;
    padding: 0px;
}
 
.landing-page {
    z-index: 1; 
    bottom: 0;
    width: 100%;
    position: absolute;
    background: linear-gradient(to bottom, #0f0f0f, #2f2f2f, #0f0f0f );
    min-height: 100vh;
}

#my_logo {
    z-index: 3;
    position: absolute;
    width: 56px;
    height: 66px;
    margin-left: 3%;
    margin-top: 2%;

}

.picture-container {
    z-index: 2;
    position: absolute;
    width: 300px;
    height: 300px;
    border: 0px solid;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 40%;
    margin-top: 10%;
}

.picture-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.label-container {
    z-index: 4;
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    left: 42%;
    top: 62%;
    font-family: "Sora", sans-serif;
    font-size: 50px;
    font-weight: 300;
    background: linear-gradient(90deg, #c5c1c1 60%, #3e3c3c 10%, #201f1f 10%);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    animation: shine 4s linear infinite;
}

@keyframes shine {
    to {
        background-position: 200% center;
    }
}


.contact-container {
    position: absolute;
    z-index: 5;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    margin-top: 42%;
    text-align: center;
    left: 15%;
    gap: 500px;
    color: #2f2f2f;
}
