.header-information-container h1 {
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: rgb(69, 68, 68);;

}
.contact-information-container {
    display: flex;
    justify-content: center;
    margin: 5% 0;
}

.contact-information-border {
    width: 90%;
    max-width: 500px;
    background-color: grey;
    border-radius: 10px;
    padding: 20px;
}

.input-container-border, .number-container-border, .age-container-border, 
.country-container-border, .gender-container-border {
    margin-top: 10px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.input-container-border input, .number-container-border input, 
.age-container-border input, .country-container-border select {
    width: 100%;
    border-radius: 5px;
    border: solid 0px;
    padding: 5px;
}

.submit-button-border {
    margin-top: 30px;
    text-align: center;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#submit_button, #cancel_button {
    border: solid 0px;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
}

#submit_button {
    background-color: green;
    color: white;
    transition: background-color 0.25s;
}

#cancel_button {
    background-color: red;
    color: white;
    transition: background-color 0.25s;
}

#submit_button:hover {
    background-color: rgb(109, 214, 109);
}

#cancel_button:hover {
    background-color: rgb(241, 84, 84);
}